<nz-layout id="ng-layout">
    <nz-sider id="ng-sider" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <!-- 展示 -->
        <app-menu #menu>

        </app-menu>
    </nz-sider>
    <nz-layout>
        <nz-header id="ng-header">
            <app-header [dashboard]="this"></app-header>
        </nz-header>

        <nz-content id="ng-content">
            <!-- <app-login></app-login> -->
            <router-outlet></router-outlet>

        </nz-content>
        <!-- <nz-footer>Footer</nz-footer> -->
    </nz-layout>
</nz-layout>