#ng-layout {
  height: 100%;
}

#ng-sider {
  background-color: bisque;
}

#ng-header {
  background-color: rgb(240, 197, 240);
  padding: 0%;
  box-shadow: 0px 15px 10px -15px #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

#ng-content {
  padding: 3rem;
}
