<i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="changeCollapse()"></i>




<!-- </div> -->

<!-- photo -->
<div class="avater" nz-popover nzPopoverTitle="Current User" [nzPopoverContent]="contentTemplate"
  nzPopoverPlacement="bottomRight">
<nz-avatar nzIcon="user" nzSize="large"
  nzSrc="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSr2mszsOCMCqMzyeR5NrIiXW-3t_GAIiE4R36RMFAziL-d2pVb">
</nz-avatar>
</div>

<ng-template #contentTemplate>
  <div>
    <strong>User Name:</strong>
    <p>{{currentUser.nickName}}</p>
    <!-- <nz-divider></nz-divider> -->
    <strong>Email:</strong>
    <p>{{currentUser.email}}</p>
  </div>
</ng-template>



