<!-- 单项绑定值从TS-》前端，插值 -->

<!-- 两种方式绑定 -->
<!-- name:<p id = "name"> {{name}}</p> -->
<!-- name:<p id = "name" [innerHTML] = "name"> </p>

<button nz-button nzType="primary" nzGhost=true (click)= "changeName()">Change Name</button>
<button nz-button nzType="primary" nzGhost=true (click)="changeHtml()">Change Html </button>

<nz-divider></nz-divider>

<button nz-button nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne">Click me!</button>
<hr>
Friends: <input type="text" [(ngModel)]="friendName"> <button (click)="addFriend()"> Add </button>
<ul>
    <li *ngFor="let item of friends; let key = index;">{{item}} <button (click)= "deleteItem(key)">Delete</button></li>
</ul>
<nz-empty *ngIf="friends.length === 0 "></nz-empty>
<img [src]="paths" alt="">
<div [ngClass]="{'red': friends.length === 0, 'blue': friends.length !== 0 }">

</div> -->
<!-- 时间过滤器 | 还有uppercase lowercase等 -->
<!-- <p >{{dateTime | date : 'yyyy-MM-dd'}}</p>
<p>{{name |uppercaseDisaplay : 'hhh'}}</p>

<input type="checkbox" name="remember me" [(ngModel)]="r">
<p>{{r}}</p> -->
<!-- name是一样的才会有几选一的效果 -->
<!-- <input type="radio" name="gender" id="" value="male" [(ngModel)]="gender">
<input type="radio" name="gender" id="" value="female" [(ngModel)]="gender">
<p [innerHTML]= "gender"></p> -->
<nz-card style="width:300px; text-align: center; margin-left: 33%;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
  <nz-card-meta nzTitle="UserName" [nzDescription]="currentUser.nickName">
  </nz-card-meta>
  <br/>
  <nz-card-meta nzTitle="UserEmail" [nzDescription]="currentUser.email">
  </nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
  <img alt="example"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSr2mszsOCMCqMzyeR5NrIiXW-3t_GAIiE4R36RMFAziL-d2pVb" />
</ng-template>

<ng-template #actionSetting>
  <i nz-icon nzType="setting" ></i>
</ng-template>
<ng-template #actionEdit>
  <i nz-icon nzType="edit" (click)="edit()" > </i>
</ng-template>
<ng-template #actionEllipsis>
  <i nz-icon nzType="ellipsis"></i>
</ng-template>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Update Your Information" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  
     <form nz-form [formGroup]="validateForm">
       <nz-form-item>
         <nz-form-label [nzSpan]="4" nzRequired nzFor="name">New Name</nz-form-label>
         <nz-form-control [nzSpan]="8" nzErrorTip="Please input your new name">
           <input type="text" nz-input formControlName="name" placeholder="Please input your new name" />
         </nz-form-control>
       </nz-form-item>
       <nz-form-item>
         <nz-form-label [nzSpan]="4" nzRequired nzFor="email">Email
         </nz-form-label>
         <nz-form-control [nzSpan]="8" nzErrorTip="Please input your email">
           <input type="text" nz-input formControlName="email" placeholder="Please input your new email" />
         </nz-form-control>
       </nz-form-item>


     </form>
  
</nz-modal>