.container{
  width: 100%;
  display: flex;
  align-items: center;
}


.search-layout {
  height: 100%;
  width: 100%;
  padding: auto;
  margin-top: 12px;
 
}

.global-search-item {
  display: flex;
}

.global-search-item-desc {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.global-search-item-count {
  flex: none;
}
@media only screen and (max-width: 1200px) {
  #nz-card {
    width: 300px;
  }
}


@media only screen and (max-width: 980px) {
  #nz-card {
    width: 400px;
  }
}
