<nz-empty nzNotFoundImage="assets/imgs/miao.png" nzNotFoundContent="Search Repository~"></nz-empty>

<div class="container">
  <div class="search-layout">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
      <input placeholder="wait 1 second after inputing" nz-input [(ngModel)]="inputValue" (input)="onChange()"
        [nzAutocomplete]="auto" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="searchRepo()">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
    </ng-template>
    <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
  </div>
</div>
<nz-divider></nz-divider>
<nz-empty style="margin-top: 5rem; color: darkgrey;" *ngIf="repos.length === 0"></nz-empty>
<nz-spin nzTip="Loading..." nzSize="large" *ngIf="loading">
</nz-spin>
<div id="results">
  {{repos}}
</div>
